*{
    font-family: 'sen',sans-serif;
    font-weight: 100;
}

body{
    background-color: black;
}

.flex_container{
    display: flex;
    align-items: center;
    /* no permite que se salga de la pantalla (los manda hacia abajo) */
    flex-wrap: wrap;
    justify-content: center;
    background: #333;
    margin: 50px 30px;
    
}
.form{
    min-width: 400px;
    /* flex: hace que los items ocupe toda la anchura de pantalla */
    flex: 1;
    text-align: center;
    padding: 20px;
}

.form_input{
    width: 100%;
    padding: 7px;
    margin: 7px;
    border: none;
    border-bottom: 3px solid rgb(201, 201, 2);
    background: transparent;
    color: white;
}

.form_input:focus{
    /* fondo con degraadado transparente */
background: linear-gradient(to bottom,transparent,#222);
outline: none;
border-bottom: 3px solid rgb(243, 243, 3);
}

.form textarea{
    min-height: 150px;
    /* para no poder agrandar el area del texto */
    resize: none;
}

.form_img{
flex: 1;
padding: 5px;
display: flex;
}

.form_img img{
    width: 60%;
    margin: auto;
}